<link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css" />

<h3>The user has been activated</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <a asp-action="Faculty" asp-controller="Admin"><li class="list-group-item list-group-item-text"><span class="fa fa-arrow-circle-left"></span> <strong>Back to Faculty</strong></li></a>
        </ul>
    </div>
</div>

@section scripts{
    
}