@model WebApplication2.ViewModels.AdminProfileViewModel

<h3>Create Admin</h3>

<div class="well">
    <div asp-validation-summary="ValidationSummary.All"></div>
    <form asp-controller="Admin" asp-action="CreateAdmin" method="post">
        <fieldset>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox" style="margin-left: 20px">
                        <input asp-for="SuperAdmin" />
                        <label asp-for="SuperAdmin" style="margin-left:-20px"></label>
                        <span asp-validation-for="SuperAdmin" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <input type="submit" value="Create Admin" class="btn btn-success" />
                <a asp-controller="Admin" asp-action="Admins" class="btn btn-danger">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>