@model WebApplication2.ViewModels.AdminProfileViewModel
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-3-datepicker/dist/css/bootstrap-datepicker.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap-3-datepicker/dist/css/bootstrap-datepicker.min.css" />
</environment>

<style>
    .datepicker {
        z-index: 10000 !important;
    }
</style>

<h3>Edit Admin Profile</h3>

<div class="col-sm-12">
    <form asp-action="Profile" method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ValidationSummary.All"></div>
        <fieldset>
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <label><span class="requiredStar">*</span> indicates a required field</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="LastName"></label> <span class="requiredStar">*</span>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label> <span class="requiredStar">*</span>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="checkbox" style="margin-left: 20px">
                                <input asp-for="SuperAdmin" />
                                <label asp-for="SuperAdmin" style="margin-left:-20px"></label>
                                <span asp-validation-for="SuperAdmin" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Update Profile" class="btn btn-success btn-block" />
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section scripts{
    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    </environment>
}