@model IEnumerable<WebApplication2.Models.Specialty>

<h3>Specialties</h3>

<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach (var specialty in Model)
            {
                <li class="list-group-item list-group-item-text">
                    <div class="row">
                        <div class="col-md-6 text-left left"><strong>@specialty.SpecialtyTitle</strong></div>
                        <div class="col-md-6 text-right right"><strong>Edit</strong></div>
                    </div>
                </li><br />
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSpecialty" asp-controller="Admin" method="post">
            <div class="form-group">
                <input name="name" class="form-control" />
            </div>
            <input type="submit" value="Add Specialty" class="btn btn-success" />
        </form>
    </div>
</div>